


.avatar-sm {
  width: 35px !important;
  height: 40px !important;
  font-size: 0.875rem;

}

.color1
{
    color: white !important;
}

.inputmenu
{
   
   
    display: flex;
    justify-content: flex-end;
    
}
.inputmenu1
{
    display: flex;
    justify-content: center;
}
.logo11
{
    height: 50% !important;
    width: 50% !important;
}

.form-control11 {
/*   display: block;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #d2d6da;
    appearance: none;
    border-radius: 0.375rem;
    transition: 0.2s ease;*/
}



